/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  min-height: 100vh;
}

.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}

.countries-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
}

.card {
  flex: 1 0 20%;
  min-width: 260px;
  background-color: rgb(17, 17, 17);
  color: antiquewhite;
  margin: 5px;
  border-radius: 14px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
}

.card img {
  width: 200px;
  height: 140px;
  object-fit: cover;
}
